@tailwind base;
@tailwind components;
@tailwind utilities;

/* reset */
* {
  margin: 0;
  padding: 0;
  font-weight: 400;
  box-sizing: border-box;
}

html,
body,
#__next {
  /* 바운스 현상 막기 */
  position: fixed;
  overflow: hidden;
  @apply w-full h-screen overflow-y-hidden font-WantedSans bg-white;
}

input {
  @apply appearance-none outline-none;
}

.mobile_layout {
  @apply w-full max-w-[480px] h-full mx-auto overflow-hidden;

  .content_container {
    @apply colorBg;
  }

  .bottom_gnb {
    @apply w-full h-[60px] mt-auto;

    ul {
      @apply flex w-full h-full;

      li {
        @apply flex-1 h-full;
        a {
          @apply flex_center h-full bg-green-300;
        }
      }
    }
  }
}

.start_container {
  @apply w-full h-full overflow-hidden;

  section {
    @apply relative w-full h-full;
  }

  .splash_area {
    @apply flex_center w-full h-full;
    > div {
      @apply flex_center flex-col gap-[40px];
    }

    > p {
      @apply absolute_xHalf bottom-[7%] text-[#6B6B6B];
    }
  }

  .login_area {
    @apply bg-[#416b93];
    .ment_box {
      @apply w-full h-full px-[11%] pt-[56px];

      > p {
        @apply font-[700] text-[24px] mb-[15px] text-[#FFFCF8];
      }
    }
    .login_box {
      @apply absolute_xHalf bottom-0 flex_vertical_center flex-col gap-[35px] w-full h-[204px] pt-[40px] rounded-t-[26px] thick_border bg-[#FFFCF8];

      .kakao_login {
        @apply flex_center w-[215px] h-[56px] font-[700] rounded-[28px] text-[18px] text-[#3D3D3D] bg-[#FFD787] thick_gray_border;
      }

      .none_login {
        @apply underline text-[16px] font-[700] text-[#2D2D2D];
      }
    }
  }
}

.signUp_container {
  @apply relative flex flex-col pt-[40%] h-[calc(100%+60px)] z-30;

  .signNickName_area {
    @apply px-[15px];

    input {
      @apply w-full h-[53px] px-[14px] my-[10px] thick_lightGray_border;
    }

    button {
      @apply flex_center w-full h-[53px] bg-[#F36F47] text-white;
    }
  }

  .signUp_btn {
    @apply flex_center absolute left-0 right-0 bottom-0 w-full h-[108px] bg-[#F36F47] text-white;
  }
}

.selectMood_container {
  @apply relative w-full h-[calc(100%+60px)] z-30 colorBg;
  > .slick-slider {
    @apply w-full h-full;

    > button {
      @apply !hidden;
    }

    > .slick-list {
      @apply w-full h-full;

      .slick-track {
        @apply !flex h-full;

        > .slick-slide {
          @apply w-full h-full;

          > div {
            @apply w-full h-full;
          }
        }
      }
    }
  }

  .stepInfo_area {
    @apply flex_xBetween absolute left-[16px] right-[16px] top-[13px] z-10 w-[calc(100%-32px)] h-[38px];

    .step {
      @apply relative flex_xBetween w-[106px];
      > span {
        @apply flex_center gap-[14px] w-[26px] h-[26px] z-10 rounded-full thick_border font-[600] text-[16px] text-[#2D2D2D];
      }

      &:after {
        @apply content-[''] absolute_yHalf w-full h-[2px] bg-[#2D2D2D];
      }
    }
  }

  .select_content {
    @apply relative w-full h-full pt-[16px] px-[15px];

    .top_ment {
      @apply mt-[68px] mb-[15px] text-[#2D2D2D] font-[600] text-[22px];
    }

    .select_area {
      @apply h-[calc(100%-149px)] overflow-y-auto;

      /* scrollbar */
      &::-webkit-scrollbar {
        display: none;
      }

      .stepBottom_btn {
        @apply flex gap-[15px] absolute bottom-[26px] left-[15px] right-[15px] w-[calc(100%-30px)] h-[60px] rounded-[16px];

        .skip {
          @apply flex_center w-[119px] h-full rounded-[16px] text-[18px] text-[#000000] font-[700] thick_border bg-[#ECE9E3];
        }

        .next_btn {
          @apply w-[calc(100%-119px)];
        }

        p.next {
          @apply flex_center w-full h-full rounded-[16px] text-[#3D3D3D] text-[18px] font-[700] thick_gray_border;
        }
      }
    }

    /* 무드 선택 */
    .mood_area {
      @apply grid grid-cols-2 gap-[10px] pb-[16px];
      .mood_box {
        @apply flex_center relative aspect-square;

        .check {
          @apply absolute top-[12px] right-[11px] flex_center w-[26px] aspect-square rounded-full thick_border;
        }
      }
    }

    /* 시간 선택 */
    .time_area {
      @apply absolute_xHalf top-[40%] w-[calc(100%-30px)];

      > input {
        @apply w-full h-[20px] appearance-none rounded-[10px] colorBg thick_border;
      }

      .time_display {
        @apply flex_xBetween w-full pt-[6px];

        > span {
          @apply relative text-[#2D2D2D] text-[13px] font-[400];

          &::after {
            @apply content-[''] absolute_xHalf -top-[13px] w-[2px] h-[6px] rounded-b-md bg-[#2D2D2D];
          }
        }
      }
    }

    /* 장소 선택 */
    .place_area {
      @apply absolute_xHalf top-[23%] flex flex-col gap-[13px] w-[calc(100%-30px)];
      > div.place_box {
        @apply flex_vertical_center w-full h-[88px] pl-[30px] rounded-[12px];

        &.selectBox {
          @apply thick_border;
        }

        &.noneSelectBox {
          @apply thick_lightGray_border;
        }

        .check {
          @apply flex_center w-[26px] aspect-square mr-[20px] rounded-full thick_border bg-[#F0EDE9];

          &.checked {
            @apply bg-[#FFD787];
          }
        }

        .place {
          @apply flex_vertical_center gap-[4px];
          p {
            @apply font-[500] text-[18px] text-[#2D2D2D];
          }
        }
      }
    }
  }
}
