@tailwind base;
@tailwind components;
@tailwind utilities;

/* reset */
* {
  margin: 0;
  padding: 0;
  font-weight: 400;
  box-sizing: border-box;
}

html,
body,
#__next {
  /* 바운스 현상 막기 */
  position: fixed;
  overflow: hidden;
  @apply w-full h-screen overflow-y-hidden font-WantedSans bg-white;
}

input {
  @apply appearance-none outline-none;
}

.mobile_layout {
  @apply relative w-full max-w-[480px] h-full mx-auto overflow-hidden;

  .content_container {
    @apply relative colorBg;
  }

  .bottom_gnb {
    @apply relative z-30 w-full h-[72px] mt-auto border-t-2 border-[#3D3D3D] bg-[##FFFCF8];

    ul {
      @apply flex w-full h-full;

      li {
        @apply flex-1 h-full;
        a {
          @apply flex_center h-full;

          > div {
            @apply flex_center w-[58px] h-[44px];
          }

          .currnetPage {
            @apply rounded-[14px] thick_border bg-[#C9F9DD];
          }
        }
      }
    }
  }
}

.start_container {
  @apply w-full h-full overflow-hidden;

  > .slick-slider {
    @apply w-full h-full;

    > button {
      @apply !hidden;
    }

    > .slick-list {
      @apply w-full h-full;

      .slick-track {
        @apply !flex h-full;

        > .slick-slide {
          @apply w-full h-full;

          > div {
            @apply w-full h-full;
          }
        }
      }
    }
  }

  section {
    @apply relative w-full h-full;
  }

  .dot_area {
    @apply absolute_xHalf z-10 flex gap-[14px] top-[20px];

    > .dot {
      @apply w-[14px] aspect-square rounded-full;

      &.on {
        @apply bg-[#FFFCF8] thick_border;
      }

      &.none {
        @apply bg-[#B1AEAB];
      }
    }
  }

  .onBoaring_area {
    @apply relative !flex_vertical_center overflow-hidden flex-col bg-[#F0EDE9] pt-[70px];

    .top_box {
      @apply flex_vertical_center flex-col absolute_xHalf bottom-[166px] w-full;
      > p {
        @apply font-Jalnan text-center w-auto text-[#2D2D2D] text-[18px];
      }

      > div {
        @apply mt-[44px] w-[205px] h-[344px];
      }
    }

    .bottom_box {
      @apply absolute_xHalf bottom-[-2px] z-10 w-[101%] h-[227px] thick_border bg-[#FFFCF8] rounded-t-[26px] pt-[37px] pb-[26px] px-[18px];

      &.login_area {
        @apply flex_vertical_center flex-col;
      }

      > p {
        @apply text-center text-[#2D2D2D] text-[16px] font-[500] mb-[30px];
      }

      p.kakao_login {
        @apply flex_center h-[56px] w-[215px] mb-[32px] mx-auto text-[18px] font-[700] bg-[#FFD787] thick_border rounded-[28px];
      }

      a.none_login {
        @apply underline text-center text-[#2D2D2D] text-[16px] font-[700];
      }

      > div {
        @apply flex_xBetween gap-[11px] h-[60px] text-[18px] font-[700] text-[#3D3D3D];
        button {
          @apply thick_gray_border rounded-[16px] h-full;

          &:first-of-type {
            @apply w-[119px] bg-[#ECE9E3];
          }

          &:last-of-type {
            @apply flex-1 bg-[#FDB8A5];
          }
        }
      }
    }
  }

  .splash_area {
    @apply flex_center w-full h-full;
    > div {
      @apply flex_center flex-col gap-[40px];
    }

    > p {
      @apply absolute_xHalf bottom-[7%] text-[#6B6B6B];
    }
  }

  .login_area {
    @apply bg-[#416b93];
    .ment_box {
      @apply w-full h-full px-[11%] pt-[56px];

      > p {
        @apply font-[700] text-[24px] mb-[15px] text-[#FFFCF8];
      }
    }
    .login_box {
      @apply absolute_xHalf bottom-0 flex_vertical_center flex-col gap-[35px] w-full h-[204px] pt-[40px] rounded-t-[26px] thick_border bg-[#FFFCF8];

      .kakao_login {
        @apply flex_center w-[215px] h-[56px] font-[700] rounded-[28px] text-[18px] text-[#3D3D3D] bg-[#FFD787] thick_gray_border;
      }

      .none_login {
        @apply underline text-[16px] font-[700] text-[#2D2D2D];
      }
    }
  }
}

.signUp_container {
  @apply relative flex flex-col h-[calc(100%+72px)] px-[15px] z-50 colorBg;

  > .slick-slider {
    @apply w-full h-full;

    > button {
      @apply !hidden;
    }

    > .slick-list {
      @apply w-full h-full;

      .slick-track {
        @apply !flex h-full;

        > .slick-slide {
          @apply w-full h-full;

          > div {
            @apply w-full h-full;
          }
        }
      }
    }
  }

  .stepBottom_btn {
    @apply flex gap-[15px] absolute bottom-[26px] left-[15px] right-[15px] w-[calc(100%-30px)] h-[60px] rounded-[16px];

    .next_btn {
      @apply w-full;
    }

    p.next {
      @apply flex_center w-full h-full rounded-[16px] text-[#3D3D3D] text-[18px] font-[700] thick_gray_border;
    }
  }

  .agree_area {
    @apply relative w-full overflow-hidden pt-[61px] h-full colorBg;

    > p {
      @apply font-Jalnan text-[18px] text-[#2D2D2D];
    }

    > div.agree_list {
      @apply absolute bottom-[151px] left-[25px] right-[25px] rounded-[20px] w-[calc(100%-50px)] px-[20px] bg-[#FFFFFF] pt-[34px] pb-[23px];

      .allbtn {
        @apply flex gap-[11px] border-b-2 border-[#CFCCC8] pb-[27px];

        .allCheck {
          @apply flex_center w-[26px] h-[26px] rounded-full thick_border;

          &.on {
            @apply bg-[#76ECB9];
          }

          &.none {
            @apply bg-[#F0EDE9];
          }
        }

        > p {
          @apply text-black text-[18px] font-[600];
        }
      }

      ul {
        @apply flex flex-col gap-[24px] pt-[21px];
        li {
          @apply flex_xBetween;

          > div {
            @apply flex gap-[12px];

            > p {
              @apply text-[14px] font-[500] text-black;
            }

            .check {
              @apply flex_center w-[24px] h-[24px] rounded-full border border-[#2D2D2D];

              &.on {
                @apply bg-[#76ECB9];
              }

              &.none {
                @apply bg-[#F0EDE9];
              }
            }
          }

          a {
            @apply block;
            img {
              transform: scaleX(-1);
            }
          }
        }
      }
    }
  }

  .signNickName_area {
    @apply relative px-[15px] pt-[61px] w-full h-full colorBg overflow-hidden;

    > p {
      @apply font-Jalnan text-[18px] text-[#2D2D2D];
    }

    .nickName_box {
      @apply relative mt-[63px] px-[14px];

      input {
        @apply w-full h-[66px] px-[20px] rounded-[10px] text-black text-[16px] font-[500] my-[10px] thick_border;
      }

      button {
        @apply absolute_yHalf right-[35px] flex_center text-black text-[16px] font-[600] w-[90px] h-[36px] rounded-[18px] bg-[#F0EDE9] thick_border;
      }
    }

    .duplicateCheck {
      @apply pl-[32px] text-[18px] font-[500] font-WantedSans;

      &.possible {
        @apply text-[#26C27E];
      }

      &.error {
        @apply text-[#FC7651];
      }
    }
  }

  .signUp_btn {
    @apply flex_center absolute left-0 right-0 bottom-0 w-full h-[108px] bg-[#F36F47] text-white;
  }
}

.selectMood_container {
  @apply relative w-full h-[calc(100%+72px)] z-50 colorBg;
  > .slick-slider {
    @apply w-full h-full;

    > button {
      @apply !hidden;
    }

    > .slick-list {
      @apply w-full h-full;

      .slick-track {
        @apply !flex h-full;

        > .slick-slide {
          @apply w-full h-full;

          > div {
            @apply w-full h-full;
          }
        }
      }
    }
  }

  .stepInfo_area {
    @apply flex_xBetween absolute left-[16px] right-[16px] top-[13px] z-10 w-[calc(100%-32px)] h-[38px];

    .step {
      @apply relative flex_xBetween w-[106px];
      > span {
        @apply flex_center gap-[14px] w-[26px] h-[26px] z-10 rounded-full thick_border font-[600] text-[16px] text-[#2D2D2D];
      }

      &:after {
        @apply content-[''] absolute_yHalf w-full h-[2px] bg-[#2D2D2D];
      }
    }
  }

  .select_content {
    @apply relative w-full h-full pt-[16px] px-[15px];

    .top_ment {
      @apply mt-[68px] mb-[15px] text-[#2D2D2D] font-[600] text-[22px];

      > span {
        @apply text-[#FF8C6D] font-[600] text-[22px];
      }
    }

    .select_area {
      @apply h-[calc(100%-149px)] overflow-y-auto;

      /* scrollbar */
      &::-webkit-scrollbar {
        display: none;
      }

      .stepBottom_btn {
        @apply flex gap-[15px] absolute bottom-[26px] left-[15px] right-[15px] w-[calc(100%-30px)] h-[60px] rounded-[16px];

        .skip {
          @apply flex_center w-[119px] h-full rounded-[16px] text-[18px] text-[#000000] font-[700] thick_border bg-[#ECE9E3];
        }

        .next_btn {
          @apply w-[calc(100%-119px)];
        }

        p.next {
          @apply flex_center w-full h-full rounded-[16px] text-[#3D3D3D] text-[18px] font-[700] thick_gray_border;
        }
      }
    }

    /* 무드 선택 */
    .mood_area {
      @apply grid grid-cols-2 gap-[10px] pb-[16px];
      .mood_box {
        @apply flex_center relative h-[101px] overflow-hidden rounded-[6px];

        &.on {
          @apply border-2 border-[#FC7651];
        }
        &.none {
          @apply border-2 border-transparent;
        }

        > .img_area {
          @apply w-full object-cover;
          img {
            @apply w-full scale-[1.1] object-cover;
          }
        }

        > p {
          @apply absolute bottom-[13px] left-[17px] text-white font-[600] text-[18px];
        }

        .check {
          @apply absolute top-[12px] right-[11px] flex_center w-[26px] aspect-square rounded-full thick_border;
        }
      }
    }

    /* 시간 선택 */
    .tempMap_area {
      @apply w-full px-[30px] h-[203px] mt-[27px] rounded-[10px] overflow-hidden;
    }
    .time_area {
      @apply mt-[36px] rounded-[10px];

      > input {
        @apply w-full h-[20px] appearance-none rounded-[10px] colorBg thick_border;

        /* Chrome, Safari, Edge */
        &::-webkit-slider-thumb {
          -webkit-appearance: none;
          appearance: none;
          width: 28px;
          height: 28px;
          background: url('/images/range_thumb.svg') no-repeat center;
          background-size: contain;
          border-radius: 50%;
          border: none;
          cursor: pointer;
          position: relative;
          z-index: 30;
        }

        /* Firefox */
        &::-moz-range-thumb {
          width: 28px;
          height: 28px;
          background: url('/images/range_thumb.svg') no-repeat center;
          background-size: contain;
          border-radius: 50%;
          border: none;
          cursor: pointer;
        }
      }

      .time_display {
        @apply flex_xBetween w-full pt-[6px];

        > span {
          @apply relative text-[#2D2D2D] text-[13px] font-[400];

          &::after {
            @apply content-[''] absolute_xHalf -top-[13px] w-[2px] h-[6px] rounded-b-md bg-[#2D2D2D];
          }
        }
      }
    }

    /* 장소 선택 */
    .place_area {
      @apply absolute_xHalf top-[23%] flex flex-col gap-[13px] w-[calc(100%-30px)];
      > div.place_box {
        @apply flex_vertical_center w-full h-[88px] pl-[30px] rounded-[12px];

        &.selectBox {
          @apply thick_border;
        }

        &.noneSelectBox {
          @apply thick_lightGray_border;
        }

        .check {
          @apply flex_center w-[26px] aspect-square mr-[20px] rounded-full thick_border bg-[#F0EDE9];

          &.checked {
            @apply bg-[#FFD787];
          }
        }

        .place {
          @apply flex_vertical_center gap-[4px];
          p {
            @apply font-[500] text-[18px] text-[#2D2D2D];
          }
        }
      }
    }
  }
}

.loading_container {
  @apply flex_center flex-col absolute_fullPage z-50 !h-[calc(100%+72px)] colorBg;

  > p {
    @apply text-[#2D2D2D] font-Jalnan;
  }
}

/* home */
.home_conatiner {
  @apply h-full pt-[27px] px-[16px] overflow-y-auto;

  /* scrollbar */
  &::-webkit-scrollbar {
    display: none;
  }

  .top_info {
    @apply relative w-full pt-[24px] min-h-[98px];

    .logo {
      @apply absolute right-0 top-0;
    }

    > p {
      @apply text-[22px] text-black font-Jalnan;
      > span {
        @apply text-[#F36F47];
      }
    }
  }

  .filterPlace_area {
    @apply flex_center flex-col mt-[22px];

    .none_list_area {
      @apply mt-[67px] mb-[63px];
      .none_list {
        @apply flex_center flex-col gap-[21px] mb-[18px];

        p {
          @apply text-[#2D2D2D] font-[500] text-[16px];
        }
      }
    }

    .re_selectMood {
      @apply thick_border px-[30px] py-[7px] text-[16px] font-[600] text-black rounded-[28px];

      > span {
        @apply font-[800];
      }
    }

    .randomPlace_area {
      @apply grid grid-cols-2 gap-x-[9px] gap-y-[26px] w-full mt-[29px];

      > .randomPlace {
        @apply min-h-[193px];

        > div.placeImage_area {
          @apply relative w-full aspect-square rounded-[10px] bg-[#ECE9E3];

          .like {
            @apply absolute right-[16px] top-[13px];
          }
        }

        p {
          @apply mt-[9px] font-[700] text-[16px] text-[#2D2D2D];
        }
      }
    }
  }

  .re_watchMood {
    @apply mt-[31px];

    > p {
      @apply font-[600] text-[18px] text-[#000000];
    }

    > div {
      @apply grid grid-cols-2 gap-x-[9px] gap-y-[11px] mt-[8px] pb-[70px];

      > div {
        @apply flex_center h-[76px] rounded-[10px] font-[600] thick_border text-[16px];

        &.good {
          @apply bg-[#EED9C3];
        }
        &.quiet {
          @apply bg-[#ECE9E3];
        }
        &.exotic {
          @apply bg-[#FDB8A5];
        }
        &.healing {
          @apply bg-[#C9F9DD];
        }
        &.joy {
          @apply bg-[#FFD787];
        }
        &.trendy {
          @apply bg-[#E5E9FF];
        }
      }
    }
  }
}

/* map */
.map_container {
  @apply relative w-full h-full;

  .filter_area {
    @apply absolute top-[14px] left-[14px] z-50 h-[42px] overflow-x-auto;

    /* scrollbar */
    &::-webkit-scrollbar {
      display: none;
    }

    > ul {
      @apply flex gap-[8px] w-[200%] h-full;

      > li {
        @apply flex_center gap-[4px] h-full px-[20px] py-[9px] rounded-[28px] thick_border text-[16px] font-[600] text-black;

        > span {
          @apply text-[16px] font-[600] text-black;
        }

        &.selectCafe {
          @apply bg-[#EAC69B] thick_bold_border;
        }

        &.noneSelectCafe {
          @apply bg-[#EAC69B]/50 thick_border;
        }

        &.selectArt {
          @apply bg-[#FEAD97] thick_bold_border;
        }

        &.noneSelectArt {
          @apply bg-[#FEAD97]/50 thick_border;
        }

        &.selectTree {
          @apply bg-[#BBF0DC] thick_bold_border;
        }

        &.noneSelectTree {
          @apply bg-[#BBF0DC]/50 thick_border;
        }

        &.like {
          @apply px-[14px] py-[11px];
        }

        &.selectLike {
          @apply bg-[#FFD787] thick_bold_border;
        }

        &.noneSelectLike {
          @apply bg-[#FFD787]/50 thick_border;
        }
      }
    }
  }

  .placeInfo_area {
    @apply absolute_xHalf bottom-[-2px] z-[100] w-[101%] h-[245px] pt-[15px] px-[18px] pb-[23px] rounded-t-[40px] thick_border bg-[#FFFCF8];

    .bar {
      @apply w-[80px] h-[3px] mx-auto rounded-md bg-[#524F4C];
    }

    .placeInfo_box {
      @apply flex flex-col gap-[15px] w-full mt-[29px];

      .info_area {
        @apply flex justify-between items-start;
        .left {
          @apply flex flex-col;

          .place_name {
            @apply text-[#2D2D2D] text-[18px] font-[700];
          }

          > div {
            @apply flex gap-[12px];

            > p:first-of-type {
              @apply text-[#2D2D2D] text-[14px] font-[600];
            }

            > p:last-of-type {
              @apply text-[#524F4C] text-[13px] font-[500];
            }

            p.orange {
              @apply text-[#FF592E];
            }
          }
        }

        .right {
          @apply flex_vertical_center gap-[10px];
          .mood {
            @apply flex_center px-[14px] h-[26px] rounded-[28px] thick_border text-black text-[13px] font-[500];
          }
        }
      }

      .img_area {
        @apply flex_xBetween gap-[14px] w-full h-[80px];

        > div {
          @apply flex-1 h-full bg-[#ECE9E3] rounded-[6px];
        }
      }
    }
  }
}

.mapFilter_container {
  @apply absolute top-0 z-[200] w-full h-[calc(100%+72px)] pt-[36px] pb-[26px] px-[15px] bg-[#2D2D2D]/95;

  .close_btn {
    @apply w-[30px] h-[30px] ml-auto;
  }

  .filter_area {
    @apply flex flex-col gap-[18px] mx-[4px];
    > div {
      > p {
        @apply ml-[10px] text-white text-[14px] font-[600] mb-[4px];
      }

      > div {
        @apply flex flex-col;
        > ul {
          @apply flex;

          > li {
            @apply px-[20px] py-[9px] rounded-[28px] text-[16px] font-[600];

            .check {
              @apply flex_center h-[24px] aspect-square thick_border rounded-full;

              &.noneChecked {
                @apply bg-[#F0EDE9];
              }

              &.checked {
                @apply bg-[#FFD787];
              }
            }

            &.art {
              @apply bg-[#FEAD97];
            }

            &.shop {
              @apply bg-[#CCD4FF];
            }

            &.cafe {
              @apply bg-[#EAC69B];
            }

            &.park {
              @apply bg-[#BBF0DC];
            }
          }
        }
      }
    }

    .mood_area {
      > div {
        @apply gap-y-[9px];
        ul {
          @apply gap-x-[4px];
        }
      }
    }

    .time_area {
      > div {
        @apply gap-y-[9px];
        ul {
          @apply gap-x-[4px];
        }
      }
    }

    .place_area,
    .like_area {
      > div {
        @apply gap-y-[10px];
        ul {
          @apply gap-x-[11px];

          > li {
            @apply flex_vertical_center gap-[8px];
          }
        }
      }
    }
  }

  > button {
    @apply flex_center absolute bottom-[26px] w-[calc(100%-30px)] h-[60px] mt-[41px] rounded-[16px] text-[#3D3D3D] text-[18px] font-[700] bg-[#FDB8A5];
  }
}

.moodCollection_contianer {
  @apply absolute_fullPage w-full h-full overflow-y-auto colorBg;

  /* scrollbar */
  &::-webkit-scrollbar {
    display: none;
  }

  .back_area {
    @apply py-[12px] mb-[18px] px-[15px];
  }

  .content_area {
    @apply pb-[19px]  px-[15px];
    .title {
      @apply text-black text-[22px] font-[600];
    }

    > div {
      @apply w-full grid grid-cols-2 gap-[9px] mt-[18px];

      .img_area {
        @apply aspect-square rounded-[10px] bg-[#ECE9E3];
      }

      p.place_name {
        @apply mt-[9px] text-[#2D2D2D] text-[16px] font-[600];
      }
    }
  }
}

.detailPlace_container {
  @apply top-0 bottom-0 left-0 right-0 w-full h-full z-[200] overflow-y-auto colorBg;
  /* scrollbar */
  &::-webkit-scrollbar {
    display: none;
  }

  .btn_area {
    @apply flex_xBetween w-full py-[12px] mb-[12px] px-[15px];

    img:last-of-type {
      filter: invert(1);
      margin-left: auto;
    }
  }

  .detailContent_area {
    .img_area {
      @apply flex gap-[5px] overflow-x-auto pl-[15px];

      /* scrollbar */
      &::-webkit-scrollbar {
        display: none;
      }

      > div {
        @apply h-[151px] aspect-square rounded-[10px] bg-[#ECE9E3];
      }
    }

    .info_area {
      @apply flex justify-between items-start pr-[23px] pl-[19px] mt-[22px] mb-[16px];

      .left {
        @apply flex flex-col gap-[6px];
        .place_name {
          @apply text-[#2D2D2D] text-[22px] font-[700];
        }

        > div {
          @apply flex gap-[12px];

          > p:first-of-type {
            @apply text-[#2D2D2D] text-[17px] font-[600];
          }

          > p:last-of-type {
            @apply text-[#524F4C] text-[16px] font-[500];
          }

          p.orange {
            @apply text-[#FF592E];
          }
        }
      }
    }

    .mood {
      @apply w-auto mr-[23px] ml-[19px] px-[17px] py-[6px] thick_border text-[16px] font-[600] rounded-[18px] text-black;
    }
    .info_detailMent {
      @apply w-full mt-[15px] mb-[30px] pr-[23px] pl-[19px] text-[14px] font-[400];
    }
    button {
      @apply mx-auto flex_center w-[236px] h-[54px] text-[#3D3D3D] text-[16px] font-[600] rounded-[12px] bg-[#ECE9E3] thick_border;
    }
  }
}

.mypage_container,
.likepage_container {
  @apply px-[13px] pb-[37px] h-full;

  > p {
    @apply flex_vertical_center gap-[9px] pt-[23px] font-Jalnan text-[20px] text-black pb-[15px];
  }
  .content {
    @apply h-[calc(100%-54px)];
  }

  .noLogin {
    @apply flex_center flex-col h-full;
    p.ment {
      @apply text-[#2D2D2D] text-center text-[16px] font-[500] mb-[31px];
    }

    p.kakao_login {
      @apply flex_center h-[56px] w-[215px] mb-[32px] mx-auto text-[18px] font-[700] bg-[#FFD787] thick_border rounded-[28px];
    }
  }
}

.mypage_container {
  .content {
    @apply pt-[31px];

    .loggin {
    }
  }
}

.likepage_container {
  .content {
    @apply mt-[26px] pb-[20px] overflow-y-auto;

    /* scrollbar */
    &::-webkit-scrollbar {
      display: none;
    }
  }
  .noneLike {
    @apply flex_center flex-col gap-[15px] h-full;
    > p {
      @apply text-[#2D2D2D] text-[16px] font-[500];
    }
  }

  .listLike {
    @apply grid grid-cols-2 gap-x-[10px] gap-y-[20px];

    > div {
      > div.img_area {
        @apply relative aspect-square bg-[#ECE9E3] mb-[9px] rounded-[10px] overflow-hidden;

        .star {
          @apply absolute right-[16px] top-[11px];
        }

        .mood {
          @apply absolute left-[5px] bottom-[11px] py-[3px] px-[14px] bg-[#FFFFFF] thick_border rounded-[28px];
        }
      }
    }
  }
}
